<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- log for java -->

	<!-- Appenders -->
	<!-- 전달된 로그를 어디에 출력할 지 결정 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<!-- 로그를 어떤 형식으로 출력할 지 결정 -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.mvc.upgrade">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<!-- logger 추가 -->
	<logger name="org.ibatis">
		<level value="info"></level>
	</logger>
	
	<logger name="java.sql">
		<level value="info"></level>
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>

<!-- FATAL: 치명적 에러 -->
<!-- ERROR: 에러, 요청을 처리하는 중 문제가 발생한 상태 -->
<!-- WARN: 경고, 실행에는 문제없지만, 향후 시스템 에러의 원인이 될수 있는 경고 -->
<!-- INFO: 정보 -->
<!-- DEBUG: 디버깅 정보 -->
<!-- TRACE: DEBUG+@(상세정보) 디버그 레벨이 광범위한 것을 해결하지 위해 좀더 상세한 정보-->

<!-- 
	log4j2, LogBack
 -->
