<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 1. NickName bean 생성 -->
	<bean id="nickName" class="com.test01.NickName"></bean>
	<!-- 2. MyNickNamePrn bean 생성 -->
	<bean id="myNickName" class="com.test01.MyNickNamePrn">
		<property name="nickName" ref="nickName"></property>
		<!-- name:은 setter메소드의 ref:는 id참조 -->
	</bean>

</beans>
